{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    Mundo verde manipulações de Farm. S/A<br />
    Rua do Norte, 96<br />
    <abbr title="Telefone">Tel:</abbr>
    98855-4444
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:Suporte.mani@example.com">Suporte.mani@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing.mani@example.com">Marketing.mani@example.com</a>
</address>
<h1> Membros: </h1>
<p> Daniel Elizeu dos Satos RA: 1800111 </p>
<p> Ezequiel Normey RA: 1800836 </p>
<p> Juliana Conde Siqueira Barone RA: 1800392 </p>
<p> Lais Maldonado Rocato RA: 1800459 </p>
    
{% endblock %}
